<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://1.mirtest.sinaapp.com/XMRouter.ipa</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.xiaomi.miwifi.dailybuild</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
					<string>XMRouter</string>
					<key>version</key>
					<string>2.1.1</string>
					<key>description</key>
					<string>XMRouter</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
